<table class = "search_results">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Zip</th>
    <th>Store Type</th>
  </tr>
   <tr class= "store">
     <td><%= @store.longName %></td>
     <td><%= @store.address %></td>
     <td><%= @store.city %></td>
     <td><%= @store.postalCode %></td>
     <td><%= @store.storeType %></td>
   </tr>
</table>
