<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Storedom</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= form_tag :search, method: :get, class: "form-inline" do %>
            <div class="form-group search-field">
              <%= text_field_tag :zip, "Search by zip...", class: "form-control" %>
              <%= submit_tag "Search", class: "btn btn-primary" %>

            </div>
          <% end %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
